Repository falcosecurity/falco, pull requests merged in 2019-12, with the labels that each got.

#944 rule update: Add kubelet to user_known_chmod_applications list
  rules/falco_rules.yaml
Labels: approved, area/rules, dco-signoff: yes, kind/bug, kind/rule-update, lgtm, release-note, size/XS

#946 Exclude exe_running_docker_save in the "Set Setuid or Setgid bit" rule
  rules/falco_rules.yaml
Labels: approved, area/rules, dco-signoff: yes, kind/bug, kind/rule-update, lgtm, release-note, size/XS

#941 Add a simple user_known_package_manager_in_container_conditions macro
  rules/falco_rules.yaml
Labels: approved, area/rules, dco-signoff: yes, kind/feature, kind/rule-update, lgtm, release-note, size/S

#929 rules update: add more sensitive host path to sensitive_host_mount macro
  rules/falco_rules.yaml
  rules/k8s_audit_rules.yaml
Labels: approved, dco-signoff: yes, lgtm, release-note, size/XS

#943 rule update: Add rules to detect access to GCE Instance Metadata
  rules/falco_rules.yaml
Labels: approved, area/rules, dco-signoff: yes, kind/feature, kind/rule-create, lgtm, release-note, size/S

#950 rule update: align sensitive mount macro between k8s_audit rules and …
  rules/k8s_audit_rules.yaml
Labels: approved, dco-signoff: yes, kind/rule-update, lgtm, release-note, size/XS

#945 rule update: Add rules to detect raw packets creation
  rules/falco_rules.yaml
Labels: approved, area/rules, dco-signoff: yes, kind/rule-create, lgtm, release-note, size/S

#951 Update the exe_running_docker_save macro to support docker in docker
  rules/falco_rules.yaml
Labels: approved, area/rules, dco-signoff: yes, kind/bug, kind/rule-update, lgtm, release-note, size/XS

#949 Exclude exe_running_docker_save in the "Modify Shell Configuration File" rule
  rules/falco_rules.yaml
Labels: approved, area/rules, dco-signoff: yes, kind/bug, kind/rule-update, lgtm, release-note, size/XS

#948 Exclude exe_running_docker_save in the "Update Package Repository" rule
  rules/falco_rules.yaml
Labels: approved, area/rules, dco-signoff: yes, kind/bug, kind/rule-update, lgtm, release-note, size/XS

#954 docs(CONTRIBUTING): commit convention details
  CONTRIBUTING.md
Labels: approved, dco-signoff: yes, kind/documentation, lgtm, release-note-none, size/S

#956 docs(README): community call + repo planning + correct mailing list URL
  README.md
Labels: approved, dco-signoff: yes, kind/documentation, lgtm, release-note, size/S

#952 rule update: modify rule to detect connection to K8S API Server from a container
  rules/falco_rules.yaml
Labels: approved, area/rules, dco-signoff: yes, kind/rule-update, lgtm, release-note, size/S

#955 rule(The docker client is executed in a container): modify condition to reduce false positive
  rules/falco_rules.yaml
Labels: approved, area/rules, dco-signoff: yes, kind/rule-update, lgtm, release-note, size/XS

#957 rule(Write below etc): whitelist automount writing under /etc/mtab
  rules/falco_rules.yaml
Labels: approved, area/rules, dco-signoff: yes, kind/rule-update, lgtm, release-note, size/XS

#960 build: use secure grpc when it is not bundled
  CMakeLists.txt
Labels: approved, area/build, dco-signoff: yes, kind/bug, lgtm, release-note-none, size/XS

#908 proposal: Falco API
  proposals/20191030-api.md
Labels: approved, area/proposals, dco-signoff: yes, kind/design, kind/documentation, lgtm, release-note-none, size/L

#966 build: add FALCO_COVERAGE CMake option
  CMakeLists.txt
Labels: approved, area/build, dco-signoff: yes, kind/feature, lgtm, release-note-none, size/S

#962 rule(macro user_known_k8s_client_container): have more strict condition to avoid false positives
  rules/falco_rules.yaml
Labels: approved, area/rules, dco-signoff: yes, kind/rule-update, lgtm, release-note, size/XS

#975 rule(list network_tool_binaries): Add some network tools to detect suspicious network activity
  rules/falco_rules.yaml
Labels: approved, area/rules, dco-signoff: yes, kind/rule-update, lgtm, release-note, size/XS

#977 Publish Security Audit
  README.md
  audits/SECURITY_AUDIT_2019_07.pdf
Labels: approved, area/build, area/engine, area/rules, dco-signoff: yes, kind/documentation, lgtm, release-note-none, size/S
