Repository falcosecurity/falco, pull requests merged in 2019-08, with the labels that each got.

#755 rule update: add exception for write below rpm (#745)
  rules/falco_rules.yaml
Labels: approved, area/rules, dco-signoff: yes, kind/rule-update, lgtm, release-note, size/XS

#762 fix: make sure that when deleting shell history the system call is taken into account
  rules/falco_rules.yaml
Labels: approved, area/rules, dco-signoff: yes, kind/bug, kind/rule-update, lgtm, release-note, size/S

#763 rule update: add rules for crypto mining
  rules/falco_rules.yaml
Labels: approved, dco-signoff: yes, kind/rule-create, lgtm, release-note, size/L

#768 new: add Kris to owners
  OWNERS
Labels: approved, dco-signoff: yes, kind/documentation, lgtm, release-note-none, size/XS

#765 fix(rules/Set Setuid or Setgid bit): use chmod syscalls instead of chmod command
  rules/falco_rules.yaml
Labels: approved, area/rules, dco-signoff: yes, kind/bug, kind/rule-update, lgtm, release-note, size/S

#772 cleanup: fix misspelled words in readme.md
  integrations/anchore-falco/README.md
Labels: approved, area/integrations, dco-signoff: yes, kind/cleanup, lgtm, release-note-none, size/XS

#774 new: download all dependencies over https
  CMakeLists.txt
Labels: approved, dco-signoff: yes, kind/cleanup, lgtm, release-note-none, size/S

#766 rules: strict checks on hidden files and repository files that are modified
  rules/falco_rules.yaml
Labels: approved, area/rules, dco-signoff: yes, kind/rule-update, lgtm, release-note, size/S

#782 Fix build dependencies for the local dockerfile
  docker/local/Dockerfile
Labels: approved, dco-signoff: yes, kind/bug, lgtm, release-note-none, size/M

#780 Adding OSS changes to README
  README.md
Labels: approved, dco-signoff: yes, kind/documentation, lgtm, release-note-none, size/S

#783 fix: office hours are bi-weekly
  README.md
Labels: approved, dco-signoff: yes, kind/cleanup, lgtm, release-note-none, size/XS

#808 Pass the build dir along when running tests
  test/falco_test.py
  test/run_regression_tests.sh
Labels: approved, area/engine, dco-signoff: yes, kind/cleanup, lgtm, release-note, size/S
