Repository falcosecurity/falco, pull requests merged in 2019-07, with the labels that each got.

#685 Rule updates 2019 06.v4
  rules/falco_rules.yaml
Labels: approved, area/rules, dco-signoff: yes, kind/rule/update, lgtm, release-note, size/S

#697 fix PR template for kind/rule-*
  .github/PULL_REQUEST_TEMPLATE.md
Labels: approved, dco-signoff: yes, kind/cleanup, kind/documentation, lgtm, release-note-none, size/XS

#699 update(.github): PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: approved, dco-signoff: yes, kind/cleanup, kind/documentation, lgtm, release-note-none, size/S

#701 chore: clang format following the current style
  .clang-format
  tests/engine/test_token_bucket.cpp
  userspace/engine/token_bucket.cpp
  userspace/engine/token_bucket.h
Labels: approved, dco-signoff: yes, kind/cleanup, lgtm, release-note-none, size/L

#700 chore: remove find catch from cmake files
  cmake/modules/FindCatch.cmake
Labels: approved, dco-signoff: yes, kind/cleanup, lgtm, release-note-none, size/M

#702 update: sysdig dir gate in subdirectories
  scripts/CMakeLists.txt
  tests/CMakeLists.txt
  userspace/engine/CMakeLists.txt
  userspace/falco/CMakeLists.txt
Labels: approved, dco-signoff: yes, kind/cleanup, lgtm, release-note-none, size/S

#703 cmake format
  .cmake-format
Labels: approved, dco-signoff: yes, kind/feature, lgtm, release-note-none, size/L

#710 bump falco engine version
  userspace/engine/falco_engine_version.h
Labels: approved, area/engine, area/rules, dco-signoff: yes, kind/documentation, kind/feature, lgtm, release-note, size/XS

#712 Add runc to the list of possible container entrypoint parents
  rules/falco_rules.yaml
Labels: approved, area/rules, dco-signoff: yes, kind/rule-update, lgtm, release-note, size/XS

#714 YAML linter configuration
  .yamllint.conf
Labels: approved, dco-signoff: yes, kind/feature, lgtm, release-note-none, size/XS

#717 allow k8s.gcr.io/kube-proxy image to run privileged
  rules/falco_rules.yaml
Labels: approved, area/rules, dco-signoff: yes, kind/rule-update, lgtm, release-note, size/XS

#721 CHANGELOG/README changes for 0.16.0
  CHANGELOG.md
  README.md
Labels: approved, area/examples, dco-signoff: yes, kind/documentation, lgtm, release-note-none, size/M

#728 Fix shell_procs macro
  rules/falco_rules.yaml
Labels: approved, area/rules, dco-signoff: yes, kind/bug, kind/rule-update, lgtm, release-note, size/XS

#731 fix: do the inspector after forking for daemon mode
  userspace/falco/falco.cpp
Labels: approved, area/engine, dco-signoff: yes, kind/bug, lgtm, release-note, size/L

#733 rules update 07.v1
  rules/falco_rules.yaml
Labels: approved, area/rules, dco-signoff: yes, kind/rule-update, lgtm, release-note, size/XS

#737 Allow all lowercase priorities
  userspace/engine/lua/rule_loader.lua
Labels: approved, area/engine, dco-signoff: yes, kind/cleanup, lgtm, release-note, size/XS

#736 Rules add cadvisor node exporter
  rules/falco_rules.yaml
Labels: approved, area/rules, dco-signoff: yes, kind/feature, lgtm, release-note, size/XS

#744 Fix bugs when verifying macro/rule objects.
  userspace/engine/lua/rule_loader.lua
Labels: approved, area/engine, dco-signoff: yes, kind/bug, lgtm, release-note, size/S

#751 Remove containers from empty capture file
  test/trace_files/empty.scap
Labels: approved, dco-signoff: yes, kind/failing-test, lgtm, release-note-none, size/XS

#749 Prepare for 0.17.0
  CHANGELOG.md
  README.md
Labels: approved, dco-signoff: yes, kind/documentation, lgtm, release-note, size/M
