Repository falcosecurity/falco, pull requests merged in 2019-11, with the labels that each got.

#913 fix the image name and tag for the linuxkit Dockerfile
  docker/kernel/linuxkit/Dockerfile
Labels: approved, area/build, dco-signoff: yes, kind/bug, kind/cleanup, lgtm, release-note, size/XS

#915 Added rule to detect docker client in container
  rules/falco_rules.yaml
Labels: approved, area/rules, dco-signoff: yes, kind/feature, kind/rule-create, lgtm, release-note, size/S

#914 rules update: add docker-runc-cur to container_entrypoint macro
  rules/falco_rules.yaml
Labels: approved, dco-signoff: yes, lgtm, release-note, size/XS

#928 Always catch json type errors when extracting
  userspace/engine/json_evt.cpp
Labels: approved, area/engine, dco-signoff: yes, kind/bug, lgtm, release-note, size/M
