Repository falcosecurity/falco, pull requests merged in 2020-10, with the labels that each got.

#1423 Fix rules warnings
  rules/falco_rules.yaml
Labels: approved, area/rules, dco-signoff: yes, kind/bug, kind/rule-update, lgtm, release-note, size/S

#1424 docs: add download/images table to release corpus template
  RELEASE.md
Labels: approved, dco-signoff: yes, kind/documentation, lgtm, release-note-none, retest-not-required-docs-only, size/S

#1425 Release 0.26.1 changelog
  CHANGELOG.md
Labels: approved, dco-signoff: yes, kind/documentation, lgtm, release-note-none, retest-not-required-docs-only, size/M

#1429 rule(list falco_sensitive_mount_images): add images docker.io/falcose…
  rules/falco_rules.yaml
Labels: approved, area/rules, dco-signoff: yes, kind/bug, kind/rule-update, lgtm, release-note, size/XS

#1434 feat(docs): Adding meeting notes step to RELASE.md
  RELEASE.md
Labels: approved, dco-signoff: yes, kind/documentation, lgtm, release-note-none, retest-not-required-docs-only, size/S

#1422 rule(macro user_know_remote_file_copy_tools_in_container_conditions)
  rules/falco_rules.yaml
Labels: approved, area/rules, dco-signoff: yes, kind/rule-update, lgtm, release-note, size/S

#1439 fix(test): make integration tests properly fail
  docker/tester/root/usr/bin/entrypoint
Labels: approved, dco-signoff: yes, kind/bug, kind/failing-test, lgtm, release-note-none, size/XS

#1441 build: bump b64 to v2.0.0.1
  CMakeLists.txt
Labels: approved, area/build, dco-signoff: yes, kind/cleanup, lgtm, release-note-none, size/XS

#1440 rule(Outbound Connection to C2 Servers): Add a new rule to detect out…
  rules/falco_rules.yaml
Labels: approved, dco-signoff: yes, lgtm, release-note, size/XS

#1444 macro(allowed_k8s_users): exclude cloud-controller-manage to avoid false positives on k3s
  rules/k8s_audit_rules.yaml
Labels: approved, area/rules, dco-signoff: yes, kind/rule-update, lgtm, release-note, size/XS

#1449 re-use `spawned_process` macro inside `container_started` macro
  rules/falco_rules.yaml
Labels: approved, area/rules, dco-signoff: yes, kind/rule-update, lgtm, release-note-none, size/XS

#1450 fix(userspace/falco): use given priority in falco_outputs::handle_msg()
  userspace/falco/falco_outputs.cpp
Labels: approved, area/engine, dco-signoff: yes, kind/bug, kind/cleanup, lgtm, release-note-none, size/XS

#1459 update(proposals): proposal for moving the drivers to S3
  proposals/20201025-drivers-storage-s3.md
  proposals/20201025-drivers-storage-s3_downloads.png
Labels: approved, area/proposals, dco-signoff: yes, kind/documentation, lgtm, release-note-none, retest-not-required-docs-only, size/L

#1447 fix(userspace/engine): free formatters, if any
  userspace/engine/formats.cpp
  userspace/engine/formats.h
Labels: approved, area/engine, dco-signoff: yes, kind/bug, lgtm, release-note-none, size/S

#1454 rule(Full K8s... Access): fix users list
  rules/k8s_audit_rules.yaml
Labels: approved, area/rules, dco-signoff: yes, kind/bug, kind/rule-update, lgtm, release-note, size/XS

#1457 rule(list falco_privileged_images): add calico/node without registry …
  rules/falco_rules.yaml
Labels: approved, area/rules, dco-signoff: yes, kind/bug, kind/rule-update, lgtm, release-note, size/XS
