Repository falcosecurity/falco, pull requests merged in 2021-04, with the labels that each got.

#1598 Properly parse numbers in condition fields
  userspace/engine/lua/parser.lua
Labels: approved, area/engine, dco-signoff: yes, kind/bug, lgtm, release-note, size/XS

#1609 docs(test): express that grpcurl and virtualenv are needed
  test/README.md
Labels: approved, area/tests, dco-signoff: yes, kind/documentation, lgtm, release-note-none, size/XS

#1611 adding asapp as an adopter
  ADOPTERS.md
Labels: approved, dco-signoff: yes, kind/documentation, lgtm, release-note-none, size/XS

#1608 chore(test): replace bucket url with official distribution url
  test/run_performance_tests.sh
  test/run_regression_tests.sh
Labels: approved, area/tests, dco-signoff: yes, kind/cleanup, lgtm, release-note-none, size/XS

#1612 build(.config): pin awscli version
  .circleci/config.yml
Labels: approved, area/build, dco-signoff: yes, kind/bug, lgtm, release-note-none, size/XS

#1581 Add falco engine info to --support output
  userspace/falco/falco.cpp
Labels: approved, area/engine, dco-signoff: yes, kind/feature, lgtm, release-note, size/XS

#1614 docs: update link for HackMD community call notes
  RELEASE.md
Labels: approved, dco-signoff: yes, kind/documentation, lgtm, release-note-none, size/XS

#1617 fix(userspace): handle exceptions for process_k8s_audit_event
  userspace/engine/json_evt.cpp
  userspace/falco/webserver.cpp
Labels: approved, area/engine, dco-signoff: yes, kind/bug, lgtm, release-note, size/S

#1620 avoid loose conditions in rules and macros
  rules/falco_rules.yaml
Labels: approved, area/rules, dco-signoff: yes, kind/bug, kind/rule-update, lgtm, release-note, size/S

#1621 Add mathworks to adopterlist
  ADOPTERS.md
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/XS

#1604 build: hardening flags
  CMakeLists.txt
Labels: approved, area/build, dco-signoff: yes, kind/feature, lgtm, release-note, size/S

#1629 Add Secureworks to adopters
  ADOPTERS.md
Labels: approved, area/proposals, dco-signoff: yes, kind/documentation, lgtm, release-note-none, size/XS

#1634 Remove deprecated OCI image repositories in default ruleset
  rules/falco_rules.yaml
Labels: approved, area/rules, dco-signoff: yes, kind/cleanup, kind/rule-update, lgtm, release-note, size/XS

#1636 urelease/docs: fix link and small refactor in the text
  RELEASE.md
Labels: approved, area/build, dco-signoff: yes, kind/documentation, lgtm, release-note-none, size/S
