Repository falcosecurity/falco, pull requests merged in 2021-08, with the labels that each got.

#1637 proposal for a libs plugin system
  proposals/20210501-plugin-system.md
Labels: kind/design, dco-signoff: yes, lgtm, release-note-none, approved, size/XXL, area/proposals

#1711 docs(RELEASE.md): switch to 3 releases per year
  RELEASE.md
Labels: kind/documentation, dco-signoff: yes, lgtm, release-note-none, approved, size/XS, area/build

#1712 Use new Debian 11 package names for python-pip
  .circleci/config.yml
Labels: kind/bug, dco-signoff: yes, lgtm, release-note-none, approved, size/XS, area/build
