Repository falcosecurity/falco, pull requests merged in 2022-12, with the labels that each got.

#2305 update(rules): improve insmod detection within container using CAP_SYS_MODULE
  rules/falco_rules.yaml
Labels: area/rules, kind/feature, kind/rule-update, release-note, dco-signoff: yes, lgtm, approved, size/XS

#2271 Also copy ruleset when copying falco source
  userspace/engine/falco_source.h
Labels: kind/bug, area/engine, release-note, dco-signoff: yes, lgtm, approved, size/XS

#2312 support older rhel distros in falco-driver-loader
  scripts/falco-driver-loader
Labels: release-note, dco-signoff: yes, lgtm, approved, size/XS

#2304 docs(proposal): new artifacts distribution proposal
  proposals/20221129-artifacts-distribution.md
Labels: kind/documentation, dco-signoff: yes, lgtm, release-note-none, approved, size/L, area/proposals

#2241 feat: Support for detecting outbound connection to c2 servers with FQ…
  rules/falco_rules.yaml
Labels: area/rules, kind/rule-update, kind/rule-create, release-note, dco-signoff: yes, lgtm, size/M, approved

#2284 rules: add OpenSSH private key to macro private_key_or_password
  rules/falco_rules.yaml
Labels: area/rules, kind/feature, kind/rule-update, release-note, dco-signoff: yes, lgtm, approved, size/XS

#1901 update(script): makes user able to pass custom option to driver-loade…
  scripts/falco-driver-loader
Labels: kind/feature, dco-signoff: yes, lgtm, release-note-none, approved, size/XS

#2324 fix(ci): fix rpm sign job dependencies
  .circleci/config.yml
Labels: kind/bug, dco-signoff: yes, lgtm, release-note-none, approved, size/XS, area/ci

#2224 Rule: detecting executions looking for AWS credentials
  rules/falco_rules.yaml
Labels: area/rules, kind/rule-create, release-note, dco-signoff: yes, lgtm, size/S, approved

#2225 Rule: detecting executions from /dev/shm
  rules/falco_rules.yaml
Labels: area/rules, kind/rule-create, release-note, dco-signoff: yes, lgtm, size/S, approved

#2327 update(falco): update cpp-httplib to 0.11.3
  cmake/modules/cpp-httplib.cmake
Labels: kind/feature, dco-signoff: yes, lgtm, release-note-none, approved, size/XS, area/build

#2290 rules: use list of Falco containers instead of repeating them
  rules/falco_rules.yaml
Labels: area/rules, kind/cleanup, kind/rule-update, release-note, dco-signoff: yes, lgtm, size/M, approved

#2329 doc(userspace): provide users with a correct message when some syscalls are not defined
  userspace/falco/app_actions/load_rules_files.cpp
Labels: kind/bug, kind/documentation, area/engine, release-note, dco-signoff: yes, lgtm, approved, size/XS
