Repository falcosecurity/falco, pull requests merged in 2022-09, with the labels that each got.

#2179 cleanup(rules): cleanup rules - 4
  rules/falco_rules.yaml
Labels: area/rules, kind/cleanup, kind/rule-update, release-note, dco-signoff: yes, lgtm, size/S, approved

#2187 Add StackRox to adopters
  ADOPTERS.md
Labels: kind/documentation, dco-signoff: yes, lgtm, release-note-none, approved, size/XS

#2186 update(.circleci): re-enabled cppcheck
  .circleci/config.yml
  cmake/modules/static-analysis.cmake
Labels: kind/feature, dco-signoff: yes, lgtm, release-note-none, approved, size/XS, area/build, area/ci

#2185 vote: update(OWNERS): add Andrea Terzolo to owners
  OWNERS
Labels: kind/documentation, dco-signoff: yes, lgtm, release-note-none, approved, size/XS

#2191 update(scripts/falco-driver-loader): minikube environment is now correctly detected
  scripts/falco-driver-loader
Labels: kind/feature, release-note, dco-signoff: yes, lgtm, size/S, approved

#2197 fix(userspace/engine): properly include stdexcept header to fix build.
  userspace/engine/filter_evttype_resolver.h
Labels: kind/bug, area/engine, dco-signoff: yes, lgtm, release-note-none, approved, size/XS, area/build

#2200 fix(userspace/engine): avoid reading duplicate exception values
  userspace/engine/rule_reader.cpp
Labels: kind/bug, area/engine, release-note, dco-signoff: yes, lgtm, approved, size/XS

#2204 chore(OWNERS): cleanup inactive reviewer
  OWNERS
Labels: kind/documentation, kind/cleanup, dco-signoff: yes, lgtm, release-note-none, approved, size/XS

#2188 Added rule to detect CVE-2019-5736
  rules/falco_rules.yaml
Labels: area/rules, kind/rule-create, release-note, dco-signoff: yes, lgtm, size/S, approved

#2198 Add GKE default pod into allowlist in Mount Launched of Privileged Container rule
  rules/falco_rules.yaml
Labels: area/rules, kind/rule-update, release-note, dco-signoff: yes, lgtm, approved, size/XS

#2215 fix(process_events): check the return value of `open_live_inspector`
  userspace/falco/app_actions/process_events.cpp
Labels: kind/bug, area/engine, dco-signoff: yes, lgtm, release-note-none, approved, size/XS

#2211 Add PIDs to default rules
  rules/falco_rules.yaml
Labels: area/rules, kind/rule-update, release-note, dco-signoff: yes, lgtm, approved, size/L

#2223 fix(falco): print container info and gvisor info in the same way
  userspace/falco/app_actions/init_falco_engine.cpp
Labels: kind/bug, area/engine, release-note, dco-signoff: yes, lgtm, approved, size/XS
