Repository falcosecurity/falco, pull requests merged in 2022-05, with the labels that each got.

#1954 rule(Anonymous Request Allowed): exclude {/livez, /readyz}
  rules/k8s_audit_rules.yaml
Labels: area/rules, kind/rule-update, dco-signoff: yes, lgtm, release-note-none, approved, size/XS

#1987 build(userspace/engine): cleanup unused include dir
  userspace/engine/CMakeLists.txt
Labels: kind/cleanup, dco-signoff: yes, lgtm, release-note-none, approved, size/XS, area/build

#1989 Include origin host in output json
  userspace/falco/falco_outputs.cpp
Labels: kind/feature, kind/design, area/engine, release-note, dco-signoff: yes, lgtm, approved, size/XS

#1969 New Rule Detect Linux Cgroup Container Escape Vulnerability (CVE-2022-0492)
  rules/falco_rules.yaml
Labels: area/rules, kind/rule-create, release-note, dco-signoff: yes, lgtm, size/S, approved

#1956 Delete or rename shell history: .ash_history
  rules/falco_rules.yaml
Labels: area/rules, kind/rule-update, release-note, dco-signoff: yes, lgtm, size/S, approved

#2010 fix(userspace/engine): improve rule loader source checks
  userspace/engine/rule_loader.cpp
Labels: kind/bug, kind/cleanup, area/engine, dco-signoff: yes, lgtm, release-note-none, approved, size/XS

#2012 update(userspace/falco): improve falco termination
  userspace/falco/app_actions/create_signal_handlers.cpp
  userspace/falco/app_actions/daemonize.cpp
  userspace/falco/app_actions/init_falco_engine.cpp
  userspace/falco/app_actions/init_inspector.cpp
  userspace/falco/app_actions/init_outputs.cpp
  userspace/falco/app_actions/list_fields.cpp
  userspace/falco/app_actions/list_plugins.cpp
  userspace/falco/app_actions/load_config.cpp
  userspace/falco/app_actions/load_plugins.cpp
  userspace/falco/app_actions/load_rules_files.cpp
  userspace/falco/app_actions/open_inspector.cpp
  userspace/falco/app_actions/print_help.cpp
  userspace/falco/app_actions/print_ignored_events.cpp
  userspace/falco/app_actions/print_support.cpp
  userspace/falco/app_actions/print_version.cpp
  userspace/falco/app_actions/process_events.cpp
  userspace/falco/app_actions/start_grpc_server.cpp
  userspace/falco/app_actions/start_webserver.cpp
  userspace/falco/app_actions/validate_rules_files.cpp
  userspace/falco/application.cpp
  userspace/falco/application.h
  userspace/falco/falco.cpp
Labels: kind/feature, kind/cleanup, area/engine, size/XL, dco-signoff: yes, lgtm, release-note-none, approved

#2022 update(build): updated libs version for Falco 0.32.0 release.
  cmake/modules/falcosecurity-libs.cmake
Labels: kind/cleanup, release-note, dco-signoff: yes, lgtm, approved, size/XS, area/build

#2024 update(build): updated libs to 1be924900a09cf2e4db4b4ae13d03d838959f350
  cmake/modules/falcosecurity-libs.cmake
Labels: kind/cleanup, release-note, dco-signoff: yes, lgtm, approved, size/XS, area/build

#2011 Improved detection for connections to miner pools
  rules/falco_rules.yaml
Labels: area/rules, kind/feature, kind/rule-update, release-note, dco-signoff: yes, lgtm, approved, size/XS, area/proposals

#1996 known_shell_spawn_cmdlines - lighttpd
  rules/falco_rules.yaml
Labels: kind/bug, area/rules, kind/rule-update, release-note, dco-signoff: yes, lgtm, approved, size/XS

#2026 chore(userspace/falco): fix punctuation typo in output message when loading plugins
  userspace/falco/app_actions/list_plugins.cpp
Labels: kind/cleanup, area/engine, dco-signoff: yes, lgtm, release-note-none, approved, size/XS

#2027 fix(falco-scripts): remove driver versions with `dkms-3.0.3`
  scripts/falco-driver-loader
Labels: kind/bug, kind/feature, dco-signoff: yes, lgtm, release-note-none, approved, size/XS, area/build
