Repository falcosecurity/falco, pull requests merged in 2024-03, with the labels that each got.

#3127 Correct directory iteration options
  userspace/falco/configuration.cpp
Labels: kind/bug, area/engine, release-note, dco-signoff: yes, lgtm, approved, size/XS

#3071 new(config): add `falco_libs.thread_table_size`
  falco.yaml
  userspace/engine/falco_common.h
  userspace/falco/app/actions/helpers_inspector.cpp
  userspace/falco/configuration.cpp
  userspace/falco/configuration.h
Labels: kind/feature, area/engine, release-note, dco-signoff: yes, lgtm, size/M, approved

#3128 update(scrips/falcoctl): bump falco-rules version to 3
  scripts/falcoctl/falcoctl.yaml.in
Labels: dco-signoff: yes, lgtm, release-note-none, approved, size/XS

#2986 docs(proposal): 20231220-features-adoption-and-deprecation.md
  proposals/20231220-features-adoption-and-deprecation.md
Labels: kind/documentation, kind/design, dco-signoff: yes, lgtm, release-note-none, approved, size/L, area/proposals

#3101 refactor(ci): Avoid using command make directly
  .github/workflows/codeql.yaml
  .github/workflows/reusable_build_dev.yaml
  .github/workflows/reusable_build_packages.yaml
  .github/workflows/reusable_fetch_version.yaml
  .github/workflows/staticanalysis.yaml
Labels: kind/cleanup, dco-signoff: yes, lgtm, release-note-none, approved, size/L, area/build, area/ci

#3146 fix(cmake): fix USE_BUNDLED_DEPS=ON and BUILD_FALCO_UNIT_TESTS=ON
  unit_tests/CMakeLists.txt
Labels: kind/bug, dco-signoff: yes, lgtm, release-note-none, approved, size/XS, area/build

#3135 fix(engine): apply output substitutions for all sources
  userspace/engine/rule_loader_compiler.cpp
Labels: kind/bug, area/engine, release-note, dco-signoff: yes, lgtm, approved, size/XS

#3150 cleanup(falco): consolidate falco::grpc::server in one class
  userspace/falco/CMakeLists.txt
  userspace/falco/grpc_server.cpp
  userspace/falco/grpc_server.h
  userspace/falco/grpc_server_impl.cpp
  userspace/falco/grpc_server_impl.h
Labels: kind/cleanup, area/engine, dco-signoff: yes, lgtm, release-note-none, approved, size/L
