Repository falcosecurity/falco, pull requests merged in 2025-04, with the labels that each got.

#3529 update(userspace/engine): relax validation for `values` in `exceptions`
  userspace/engine/rule_json_schema.h
Labels: kind/bug, area/engine, release-note, dco-signoff: yes, lgtm, approved, size/XS

#3521 fix(ci): properly install rpm `systemd-rpm-macro` package on building packages pipeline
  .github/workflows/reusable_build_packages.yaml
Labels: kind/bug, release-note, dco-signoff: yes, lgtm, approved, size/XS, area/ci

#3537 fix(ci): use clang-19 to build modern_ebpf skeleton.
  .github/workflows/reusable_build_packages.yaml
Labels: kind/cleanup, dco-signoff: yes, lgtm, release-note-none, approved, size/XS, area/ci

#3535 fix(userspace): fixed engine `openssl` dep.
  userspace/engine/CMakeLists.txt
  userspace/falco/CMakeLists.txt
Labels: kind/bug, area/engine, dco-signoff: yes, lgtm, release-note-none, size/S, approved

#3538 new(userspace,unit_tests)!: add a way to specify merge-strategy for `config_files`
  falco.yaml
  unit_tests/falco/test_configuration_config_files.cpp
  userspace/engine/yaml_helper.h
  userspace/falco/config_json_schema.h
  userspace/falco/configuration.cpp
  userspace/falco/configuration.h
Labels: kind/feature, area/engine, size/XL, release-note, dco-signoff: yes, lgtm, approved, area/tests, kind/release
